body{
    margin: 2px 2px 2px 2px;
    border:5px solid #050607;
    /* background-image: url(home.jpg);  */
}
.top{
    
    padding: 0% 0% 3% 0%;
    /* border:5px solid #bcc8d4; */
    background-color: #d8d5a2;
}
.container{
    display: flex;
    flex-direction: row;
}
.logo{
    
}
.header{
    display: flex;
    flex-direction: row;
    padding-left:30% ;
    justify-content: space-between;
    font-size: 150%;
    padding-top: 6%;
}

.hd2{
    padding-left:90px;
}
.hd3{
    padding-left:90px;
}


.submission{
    display: flex;
    flex-direction: row;
    /* padding-top: 100%; */
    margin: 90% 30% 3% 20%;
    /* border:5px solid #b5bac0; */
    background-color: #837878;
    padding-left: 25px;
    border-block-end:0px;

}
.comunication{
    padding-left: 10px;
}
.comment{
    color:white;
}

.share{
    color:white;
}
input[type="text"]{
    width: 100%;
    border: none;
    border-bottom: 3px solid rgb(43, 24, 24);
    padding-top: 10px;
}
.subscribe{
    padding-top: 10px;
}
.sub{
    padding-left:50%px;
}